<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budget Index</title>
</head>
<body>
    <div class="container">
        <h1>Add A New Item</h1>
        <form action="/budgets" method="POST">
            <input type="text" name="date" placeholder="date"><br/>
            <input type="text" name="name" placeholder="name"><br/>
            <input type="text" name="amount" placeholder="amount"><br/>
            <input type="text" name="from" placeholder="from"><br/>
            <input type="text" name="tags" placeholder="tags"><br/> 
            <input type="submit" value="Submit New Item">
        </form>
    </div>
</body>
</html>
Footer
