<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budget Show</title>
</head>
<body>
    <div class="container">
        <h1><%=budgetIndex.name%></h1>
        <% for (const property in budgetIndex) { %>
            <h4><%= property %></h4>
                <p><%= budgetIndex[property] %></p>
        <% } %>
        <button><a href="/budgets/">Back to Index</a></button>
    </div>
    
</body>
</html>